<div class="container-login">
  <div class="title">
    <span><%= image_tag 'f_f_event_3_s512_f_event_3_0.png' %></span>
    <h3><strong>Contact us</strong></h3>
  </div>
  <div class="row mt-4 text-center">
    <div class="confirm col-md-4 col-12 p-1">
      <p class="other-confirm">1.Input</p>
    </div>
    <div class="confirm col-md-4 col-12 p-1">
      <p class="other-confirm">2.Confirm</p>
    </div>
    <div class="confirm col-md-4 col-12 p-1">
      <p class="current">3.Complete</p>
    </div>
  </div>
  <div class="text-center text-white bg-info m-0 p-2 col-12">
    <p class="m-0">お問い合わせありがとう御座います。</p>
    <p class="m-0">改めて連絡を差し上げますのでしばらくお待ち下さい。</p>
  </div>
  <a href="/" class="btn btn-primary mt-4" >Return to top</a>
