  <%# よくある質問 %>
<div class="container mt-0 pt-0 id="question">
  <div class="title">
    <span><%= image_tag 'f_f_business_43_s512_f_business_43_0.png' %></span>
    <h3 class="title text-center"><strong>Question</strong></h3>
  </div>
  <div class="row">
    <div class="col-md-6 col-12 pt-3">
      <!-- Button trigger modal -->
      <div class="text-dark border p-3" data-toggle="modal" data-target="#exampleModalCenter1" type="button" >
        何ヶ月くらい勉強すれば稼げるようになりますか？
      </div>
      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">何ヶ月くらい勉強すれば稼げるようになりますか？</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              早い人だと1ヶ月から3ヶ月位でプログラミングをマスターすることが可能です。その後に仕事を受注していく形になりますので、3ヶ月から半年を目処にお考えいただければと思います。
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-12  pt-3">
      <!-- Button trigger modal -->
      <div class="text-dark border p-3" data-toggle="modal" data-target="#exampleModalCenter2" type="button" >
        何ヶ月くらい勉強すれば稼げるようになりますか？
      </div>
      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">何ヶ月くらい勉強すれば稼げるようになりますか？</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              早い人だと1ヶ月から3ヶ月位でプログラミングをマスターすることが可能です。その後に仕事を受注していく形になりますので、3ヶ月から半年を目処にお考えいただければと思います。
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-12  pt-3">
      <!-- Button trigger modal -->
      <div class="text-dark border p-3" data-toggle="modal" data-target="#exampleModalCenter3" type="button" >
        何ヶ月くらい勉強すれば稼げるようになりますか？
      </div>
      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">何ヶ月くらい勉強すれば稼げるようになりますか？</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              早い人だと1ヶ月から3ヶ月位でプログラミングをマスターすることが可能です。その後に仕事を受注していく形になりますので、3ヶ月から半年を目処にお考えいただければと思います。
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-12  pt-3">
      <!-- Button trigger modal -->
      <div class="text-dark border p-3 " data-toggle="modal" data-target="#exampleModalCenter4" type="button" >
        何ヶ月くらい勉強すれば稼げるようになりますか？
      </div>
      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">何ヶ月くらい勉強すれば稼げるようになりますか？</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              早い人だと1ヶ月から3ヶ月位でプログラミングをマスターすることが可能です。その後に仕事を受注していく形になりますので、3ヶ月から半年を目処にお考えいただければと思います。
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
