@import url("https://fonts.googleapis.com/css?family=Sacramento");
@import url("https://fonts.googleapis.com/css?family=Sawarabi+Mincho");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css?family=Sawarabi+Gothic");

body {
  /* font-family: "Sawarabi Mincho", sans-serif !important; */
  padding: 56px 0px;
  border: #007bff !important;
}

body > :not(.flatpickr-calendar):not(.flatpickr-monthDropdown-months) {
  font-family: "Sawaravi Gothic", sans-serif !important;
}

/* .flatpickr-calendar {
  font-family: initial !important;
} */

.flatpickr-monthDropdown-months {
  /* font-family: initial !important; */
}

.title {
  color: #007bff;
  text-align: center;
  margin-bottom: 20px;
}

.title strong {
  border-bottom: solid 2px;
}

.navbar-toggler {
  border: solid 0px !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

/* ----------------------------- */
footer {
  margin-top: auto;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

nav {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.form-control {
  border: 1px solid #007bff !important;
}

.flatpickr-input {
  border-color: 1px solid #007bff !important;
}

.other-confirm {
  border: 1px solid #747373;
}

.current {
  border: 1px solid #007bff;
  background: #007bff;
  color: white;
}

.dropdown {
  height: 35px;
}

.dropdown-toggle {
  height: 35px;
}

.prev-text {
  font-size: 15px !important;
  /* overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  height: 65px;
}

.twitter_height {
  overflow-y: scroll !important;
  height: 700px !important;
  margin-top: 20px !important;
}

#feature {
  padding: 0.5em 1em;
  margin: 1em 0;
  background: #f4f4f4;
  border-left: solid 6px #5bb7ae;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
}
#feature p {
  margin: 0;
  padding: 0;
}
#feature h3 {
  color: #5bb7ae;
}

.box26 {
  position: relative;
  margin: 2em 0;
  padding: 0.5em 1em;
  border: solid 3px #ee942d;
  border-radius: 8px;
}
.box26 .box-title {
  position: absolute;
  display: inline-block;
  top: -13px;
  left: 10px;
  padding: 0 9px;
  line-height: 1;
  font-size: 19px;
  background: #fff;
  color: #ee942d;
  font-weight: bold;
}
.box26 p {
  margin: 0;
  padding: 0;
}

.box27 {
  position: relative;
  margin: 2em 0;
  padding: 0.5em 1em;
  border: solid 3px #e6cc79;
  border-radius: 8px;
}
.box27 .box-title {
  position: absolute;
  display: inline-block;
  top: -13px;
  left: 10px;
  padding: 0 9px;
  line-height: 1;
  font-size: 19px;
  background: #fff;
  color: #e6cc79;
  font-weight: bold;
}
.box27 p {
  margin: 0;
  padding: 0;
}

.box28 {
  position: relative;
  margin: 2em 0;
  padding: 0.5em 1em;
  border: solid 3px #776a6a;
  border-radius: 8px;
}
.box28 .box-title {
  position: absolute;
  display: inline-block;
  top: -13px;
  left: 10px;
  padding: 0 9px;
  line-height: 1;
  font-size: 19px;
  background: #fff;
  color: #776a6a;
  font-weight: bold;
}
.box28 p {
  margin: 0;
  padding: 0;
}

.carousel-caption {
  text-shadow: #fff 2px 0px, #fff -2px 0px, #fff 0px -2px, #fff 0px 2px,
    #fff 2px 2px, #fff -2px 2px, #fff 2px -2px, #fff -2px -2px, #fff 1px 2px,
    #fff -1px 2px, #fff 1px -2px, #fff -1px -2px, #fff 2px 1px, #fff -2px 1px,
    #fff 2px -1px, #fff -2px -1px;
}
